@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 5 0 255; /*#0500FF*/
  --color-primary-dark: 0 0 204; /*#0000CC*/
  --color-background: 255 255 255; /*#FFFFFF*/
  --color-background-dark: 240 240 240; /*#F0F0F0*/
  --color-background-darkest: 230 230 230; /*#E6E6E6*/
  --color-text: 10 10 10; /*#0A0A0A*/
  --color-text-muted: 100 100 100; /*#646464*/
  --color-border: 200 200 200; /*#C8C8C8*/
  --color-error: 220 38 38; /*#DC2626*/
  --color-success: 22 163 74; /*#16A34A*/
  --color-warning: 234 179 8; /*#EAB308*/
}

.dark {
  --color-primary: 250 255 0; /*#FAFF00*/
  --color-primary-dark: 204 204 0; /*#CCCC00*/
  --color-background: 10 10 10; /*#0A0A0A*/
  --color-background-dark: 20 20 20; /*#141414*/
  --color-background-darkest: 30 30 30; /*#1E1E1E*/
  --color-text: 255 255 255; /*#FFFFFF*/
  --color-text-muted: 160 160 160; /*#A0A0A0*/
  --color-border: 50 50 50; /*#323232*/
  --color-error: 248 113 113; /*#F87171*/
  --color-success: 34 197 94; /*#22C55E*/
  --color-warning: 250 204 21; /*#FACC15*/
}

@layer base {
  body {
    @apply bg-background text-text;
  }
}

/* Update the existing styles to use these variables */
input[type="range"]::-webkit-slider-thumb {
  background: var(--color-primary);
}

input[type="range"]::-moz-range-thumb {
  background: var(--color-primary);
}

button:focus,
button:focus-visible {
  @apply outline-none ring-0;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #ffffff50;
  font-size: 14px;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror blockquote {
  @apply border-l-4 border-[rgba(250,255,0,0.2)] pl-4 italic text-gray-300;
}

.ProseMirror ul {
  @apply list-disc pl-5 text-text;
}

.ProseMirror ol {
  @apply list-decimal pl-5 text-text;
}

.ProseMirror pre {
  @apply bg-gray-800 rounded-md p-4 text-gray-200 w-fit;
}

.ProseMirror code {
  @apply bg-gray-700 rounded px-1 py-0.5 text-gray-200;
}

.ProseMirror h1 {
  @apply text-3xl font-bold;
}

.ProseMirror h2 {
  @apply text-2xl font-bold;
}

.ProseMirror h3 {
  @apply text-xl font-bold;
}

.ProseMirror h4 {
  @apply text-lg font-bold;
}

.ProseMirror h5 {
  @apply text-sm font-bold;
}

.ProseMirror h6 {
  @apply text-xs font-bold;
}

/* Code block styles */
.hljs-comment,
.hljs-quote {
  color: #616161;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.hljs-title,
.hljs-section {
  color: #faf594;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
